---
import { format } from "date-fns";
const { slug } = Astro.props;
const { title, excerpt, published, lastUpdated } = Astro.props.data;
---

<article>
  <a href={`/${slug}`}><h3 id={slug} set:html={title} /></a>
  <div>
    <span
      >Published: <time datetime={published.toISOString()}
        >{format(published, "dd MMMM yyyy")}</time
      ></span
    >
    {
      lastUpdated && (
        <>
          <span>
            Last Updated:
            <time datetime={lastUpdated.toISOString()}>
              {format(lastUpdated, "dd MMMM yyyy")}
            </time>
          </span>
        </>
      )
    }
  </div>
  <p set:html={excerpt} />
</article>

<style>
  span {
    color: var(--color-subtext0);
    font-size: var(--size-font-subtext0);
  }

  article {
    margin-top: 9px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 6px;
  }

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, 25ch); */
    column-gap: 12px;
    row-gap: 6px;
  }

  article * {
    margin: 0;
  }
</style>
